<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wintersun.basebackend.mapper.RolesModulesMapper">
  <resultMap id="BaseResultMap" type="cn.wintersun.basebackend.dao.RolesModules">
    <!--@mbg.generated-->
    <!--@Table roles_modules-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
    <result column="MODULE_ID" jdbcType="INTEGER" property="moduleId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, ROLE_ID, MODULE_ID, CREATE_TIME
  </sql>
</mapper>