<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wintersun.baseweb.mapper.DbConnMapper">
    <resultMap id="BaseResultMap" type="cn.wintersun.baseweb.dao.DbConn">
        <!--@mbg.generated-->
        <!--@Table db_conn-->
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="DB_NAME" jdbcType="VARCHAR" property="dbName"/>
        <result column="BUSINESS_NAME" jdbcType="VARCHAR" property="businessName"/>
        <result column="DB_ACCOUNT" jdbcType="VARCHAR" property="dbAccount"/>
        <result column="DB_PASSWORD" jdbcType="VARCHAR" property="dbPassword"/>
        <result column="DB_IP" jdbcType="VARCHAR" property="dbIp"/>
        <result column="DB_PORT" jdbcType="VARCHAR" property="dbPort"/>
        <result column="SERVER_NAME" jdbcType="VARCHAR" property="serverName"/>
        <result column="DB_TYPE" jdbcType="INTEGER" property="dbType"/>
        <result column="DETECT_ONOFF" jdbcType="BOOLEAN" property="detectOnoff"/>
        <result column="LATEST_DETECT_TIME" jdbcType="TIMESTAMP" property="latestDetectTime"/>
        <result column="CONN_STATUS" jdbcType="BOOLEAN" property="connStatus"/>
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="MODIFY_TIME" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="USER_NAME" jdbcType="VARCHAR" property="userName"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        ID, DB_NAME, BUSINESS_NAME, DB_ACCOUNT, DB_PASSWORD, DB_IP, DB_PORT, `SERVER_NAME`,
        DB_TYPE, DETECT_ONOFF, LATEST_DETECT_TIME, CONN_STATUS, CREATE_TIME, MODIFY_TIME,
        USER_NAME
    </sql>

    <!--auto generated by MybatisCodeHelper on 2021-11-03-->
    <update id="updateConnStatusById">
        update db_conn
        <set>
            CONN_STATUS = #{connStatus,jdbcType=BOOLEAN},
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
</mapper>